* {
    transition: 0.6s;
}
::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}
body.dark-theme {
    background-color: black;
}

.canvas {
    position: absolute;
    top: 25%;
    left: 28%;
    opacity: 0;
    visibility: hidden;
}


.svgcont {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 5px;
}

.circle {
    padding: 7px;
    background-color: aqua;
    border-radius: 50%;
}
body.dark-theme .circle {
    background-color: aquamarine;
}
.circle:hover {
    background-color: aquamarine;
    cursor: pointer;
}
body.dark-theme .circle:hover {
    background-color: aqua;
}

.themetoggle {
    width: 30px;
    height: 30px;
}

h2 {
    color: blue;
    font-size: 50px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    top: 50px;
}
body.dark-theme h2 {
    color: aliceblue;
}

body.dark-theme h3 {
    color: aqua;
}

.place {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
}

.container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 20%;
}

#game {
    top: 70%;
}

.btn {
    margin: 10px;
    border: 1px solid blue;
    padding: 25px 40px;
    font-size: 25px;
}
.btn:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
}
body.dark-theme .btn {
    border: 1px solid aliceblue;
    color: aliceblue;
}
body.dark-theme .btn:hover {
    color: blue;
    background-color: aliceblue;
}
#score {
    top: 70%;
}